<div class="top-hero-wrapper text-center">
  <div class="container top-hero-container">
    <h1 class="text-white">Everyone's Nail Design</h1>
    <h2 class="text-sub">Try looking at everyone's design?</h2>
    <div class="row">
      <div class="col-xs-offset-4 col-xs-4">
        <%= link_to '新規登録', new_user_path, class: 'btn btn-bule' %>
      </div>
    <div class="row">
      <div class="col-md-offset-4 col-md-4 btn-1">
        <%= link_to 'ネイル一覧', topics_path, class: 'btn btn-bule' %> <!-- 一覧画面のリンク -->
      </div>
    </div>
    </div>
  </div>
</div>
