/* TOPページ */
.top-hero-wrapper{
  width: 100vw;  /* 横幅 */
  height: 100vh; /* 高さ */
  background: image-url('top-1.JPG');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.top-hero-container{
  padding-top: 200px;
}

h1{
  font-weight: 100;  /* フォントの太さ */
  font-size: 80px;
  font-family: cursive;
  margin-bottom: 50px;
}

.text-white{
  color: #bcddff;
  text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000;
} /*右下、左上、左下*/

.btn-white{
  color: #c1f6ff;
  border: 1px solid #c1f6ff;  /* １本線 */
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 20px;
  background-color: rgba(0,0,255,0.2);

&:hover{
  color: #c1f6ff;
 }
}

.btn-1{
  padding-top: 20px;
}
/* ナビゲーション */
.navbar-transparent{
  margin-bottom: 5px;
  background-color: rgba(0,0,0,0.2);
  a{
    color: #c1f6ff !important;
  }

.navbar-brand{
  padding: 0px;
  margin-top: 5px;
}

.navbar-log{
  font-size: 17px;
}

 img{
  height: 45px;
 }
}
/* 新規登録ページ */
.form-control{
  height: 45px;
}

.users-new-wrapper{
  width: 100vw;  /* 横幅 */
  height: 100vh; /* 高さ */
  background: image-url('top-2.JPG');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #365e7c;

.users-new-container{
  padding-top: 170px;

.form-group{
  margin-bottom: 20px;
  }
 }
}

.login-text{
  color: #c1f6ff;
}
/* アラート */
.alert{
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000;
}
